.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.grid-container img,
.video-container img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 1rem;
}

.post-body p {
  margin-bottom: 0;
}

.post-body img {
  width:100% !important; 
  border-radius:5px !important;
}

.sk-thumbnail img {
  object-fit: cover;
  height: 100%;
}

.cover-img {
  object-fit: cover;
  height: 100%;
}

.center-x {
  text-align: center !important;
}

#accordionCurriculum .faq_jawaban h2 {
  text-align: center;
  width: 100%;
}

.inner-addon {
  position: relative;
}

.inner-addon .icon {
  position: absolute;
  padding: 10px 10px 10px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inner-addon .icon i {
  position: relative;
  color: grey;
}

.left-addon .icon {
  left: 0px;
}
.right-addon .icon {
  right: 0px;
}

.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.link-disabled {
  pointer-events: none;
}
.right-arrow-btn {
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
}
.left-arrow-btn {
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 50%;
}
@media screen and (max-width: 825px) {
  .left-arrow-btn {
    left: -20px;
  }
  .right-arrow-btn {
    right: -20px;
  }
}
@media screen and (max-width: 768px) {
  .left-arrow-btn {
    left: -50px;
  }
  .right-arrow-btn {
    right: -50px;
  }
}

@media screen and (max-width: 640px) {
  .left-arrow-btn {
    left: -20px;
  }
  .right-arrow-btn {
    right: -20px;
  }
}
@media screen and (max-width: 583px) {
  .left-arrow-btn {
    left: 18px;
  }
  .right-arrow-btn {
    right: 18px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.rbt-menu {
  padding: 10px 15px 15px 15px !important;
}

.rbt-menu > .dropdown-item + .dropdown-item {
  margin-top: 0px;
}

.megasearch-item:hover {
  width: 100%;
  border-radius: 0.2rem !important;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

#mega-searcher {
  overflow-x: hidden !important;
}

#user-setting-tab a {
  /* color: var(--bs-blue) !important; */
  /* font-weight: bold; */
  background-color: var(--bs-gray-100);
  cursor: pointer;
}

#user-setting-tab a.active {
  color: var(--bs-blue) !important;
  font-weight: bold;
  background-color: var(--bs-bg-light);
  border-bottom-color: white;
}

#user-setting-tab-content {
  background-color: var(--bs-bg-light);
}

/* .line-clamp-1:hover {
    -webkit-line-clamp: unset !important;
}
.line-clamp-2:hover {
    -webkit-line-clamp: unset !important;
}
.line-clamp-3:hover {
    -webkit-line-clamp: unset !important;
} */
.hover-clamp-off:hover {
  -webkit-line-clamp: unset !important;
}
.stat-pengerjaan-jumlah {
  font-size: 20pt;
}
.notif-active {
  z-index: 2;
  /* color: #fff; */
  background-color: var(--bs-gray-500);
  border-color: var(--bs-gray-700);
}
.notif-active:hover {
  z-index: 2;
  color: black;
  background-color: var(--bs-gray-500);
  border-color: var(--bs-gray-700);
}
.course-tab-v3 .nav-link {
  padding: 0.625rem;
  line-height: 1;
  color: #77838f;
  cursor: pointer;
}
.course-tab-v3 .nav-item:not(:last-child) {
  margin-right: 20px
}

.course-tab-v3 .nav-link.active {
  background-color: #0064e0
}

.widget-container img {
  max-width: 100%;
}

#name-uppercase {
  text-transform: uppercase
}

::-webkit-input-placeholder {
  text-transform: initial;
}

:-moz-placeholder { 
  text-transform: initial;
}

::-moz-placeholder {  
  text-transform: initial;
}

:-ms-input-placeholder { 
  text-transform: initial;
}

.zero-input-focus:focus{
  z-index: 0 !important;
}

.wizard {
  display: flex;
  padding: 0;
  overflow: hidden;
  counter-reset: wizard;
}
.wizard li {
  flex: 1;
  list-style-type: none;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #282828;
}
.wizard li:before {
  counter-increment: wizard;
  content: counter(wizard);
  display: block;
  color: #ffffff;
  background-color: #0d6efd;
  border: 4px solid #0d6efd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin-bottom: 20px;
  margin-left: -20px;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}
.wizard li:after {
  background: linear-gradient(to right, #0d6efd 50%, #d6dce9 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background 0.5s ease-in;
}
.wizard li + li:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: -50%;
  top: 20px;
}
.wizard li.active:before {
  background-color: #ffffff;
  color: #0d6efd;
  border: 4px solid #0d6efd;
}
.wizard li.passed:before {
  background-color: #0d6efd;
  color: #f2f2f2;
  border: 4px solid #0d6efd;
}
.wizard li.done:before {
  background-color: #11bb82;
  color: #f2f2f2;
  border: 4px solid #11bb82;
}

.wizard li.active ~ li:after {
  background-color: #d6dce9;
  background-position: right bottom;
}
.wizard li.active ~ li:before {
  background-color: #ffffff;
  color: #d6dce9;
  border-color: #d6dce9;
}
@media (max-width: 360px) {
  .wizard li {
    color: transparent;
  }
}









.wizard-skeleton {
  display: flex;
  padding: 0;
  overflow: hidden;
  counter-reset: wizard;
}
.wizard-skeleton li {
  flex: 1;
  list-style-type: none;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #282828;
}
.wizard-skeleton li:before {
  counter-increment: wizard;
  content: counter(wizard);
  display: block;
  color: #d6dce9;
  background-color: #d6dce9;
  border: 4px solid #d6dce9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin-bottom: 20px;
  margin-left: -20px;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}
.wizard-skeleton li:after {
  background: linear-gradient(to right, #d6dce9 50%, #d6dce9 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background 0.5s ease-in;
}
.wizard-skeleton li + li:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: -50%;
  top: 20px;
}
.wizard-skeleton li.active:before {
  background-color: #ffffff;
  color: #d6dce9;
  border: 4px solid #d6dce9;
}
.wizard-skeleton li.passed:before {
  background-color: #d6dce9;
  color: #f2f2f2;
  border: 4px solid #d6dce9;
}
.wizard-skeleton li.active ~ li:after {
  background-color: #d6dce9;
  background-position: right bottom;
}
.wizard-skeleton li.active ~ li:before {
  background-color: #ffffff;
  color: #d6dce9;
  border-color: #d6dce9;
}
@media (max-width: 360px) {
  .wizard-skeleton li {
    color: transparent;
  }
}


.rilis-thumb {
  display: block;
  width: 100%;
  height: 115px;
  overflow: hidden;
}

.rilis-thumb img {
  object-fit: cover !important;
  max-width: 100%;
  height: 115px;
}

@media (max-width: 576x) {
  .wrapper-footer-image{
    height: 50px !important;
    display: block;
  }
}

@media (max-width: 768px) {
  .wrapper-footer-image{
    height: 100px !important;
    display: block;
  }
}

@media (max-width: 992px) {
  .wrapper-footer-image{
    height: 150px !important;
    display: block;
  }
}

@media (max-width: 1200px) {
  .wrapper-footer-image{
    height: 200px !important;
    display: block;
  }
}
.wrapper-footer-image{
  height: 200px !important;
  display: block;
}

.paragraph-wrapper {
  text-align: justify !important;
}

.alamat-m0 p{
  margin-bottom: 0px !important;
}

.bg-highlight {
  background-color: #F1FAFF;
  border: 1px solid #019EF7!important;
}

.text-primary-alert {
  color: #019EF7!important
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  margin-top: 0; /* remove the gap so it doesn't close */
}

.text-justify {
  text-align: justify !important;
  text-justify: inter-word !important;
}